{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}


<div class="container">
    <form>
        <input type="text" name="movie_query" placeholder="Search for news" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div>

<h3> Popular News</h3>
<ul>
    {{ macro.displayNewsList(tech_news)}}
</ul>
 
 <h3> Upcoming News </h3>
<ul>
    {{ macro.displayNewsList(business_news)}}
</ul> 
 <h3>Now Showing</h3>
<ul>
    {{ macro.displayNewsList(sports_news)}}
</ul>  


{% endblock%}

