<!-- <h1> Hello News {{ id }}</h1> -->
{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">

    <!-- Poster background -->
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 " style="background:  no-repeat center center">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 news-details">
            <h3>{{ news.title }}</h3>

            <p class="descrption"> {{ news.description }}</p>
            <p class="name"> <b> {{ news.name }}</b></p>


        </div>
    </div>

</div>
{% endblock %}